body {
    background-color: black;
    background-image: url("/Users/shomechakraborty/Documents/PROJECTS/Mixed Messages/10508262594_b66959512e_k.jpg");
}

.image {
}

h1 {
    font-family: arial;
    color: white;
}

p {
    font-family: sans-serif;
    color: white;
}

#button {
    color: black;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#Intro {
    font-size: 20px;
}

#message {
    border-radius: 30px;
    font-size: 25px
}

.credit {
    font-size: 5px;
}